.main{
   
    background-color: #698269;
}
.league-logo-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-left:10px;
    margin-right: 10px;
}



.league-logo
{
    
    height: 35px;
    margin-right: 10px;
}
.league-name
{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis ;
}
.league-container,.favorite-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.favorite-text
{
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis ;
}

.league-container:hover,.favorite-header:hover
{
    background-color: #053b5065;
    cursor: pointer;
    
}
.dropdown-toggle
{
    background-color: #053b5074;
    border-radius:10px;
    color: black;
    margin-right: auto;
}
.dropdown-toggle:hover
{
    background-color: #053B50;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F0EBCE;
}
.dropdown-menu,#dropdown-menuCalendar
{
    left:0;
    
    background-color: #053B50;
    border-radius:10px;
}
.dropdown-item
{
    color: white!important;
    background-color: #053B50;
    border-radius:10px;
}
#dropdown-menuLink
{
    left:0;
    background-color: #176B87;
    border-radius:10px;
}
#dropdownMenuLinkBtn
{
    background-color: #2d525f!important;
    border-radius:10px;
    color: white;
    margin-right: auto;
}
#dropdownMenuLinkBtn:hover
{
    background-color: #053B50;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F0EBCE;
}


.mainBody
{
    padding-top: 10px;
    background-color: #053B50;
    min-height: calc(100vh);
    
    display: flex;
    
    justify-content: center;
    
   
}
.liveTable
{
    background-color: #176b8777;
    color: black;
    width: 60%;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.liveTableHeader
{
    display : flex;
    align-items: center;
    justify-content: space-between;
    color: white;
 
    
  
}
label
{
    background-color: transparent;
    color: white;

    
    margin-right: 20px;
    font-size: 16px;
}
.calendar
{
   display: flex;
   margin-right:20px;
   
  
   

}
.nextDay,.previousDay{
    background-color:#176B87;
    border-radius: 10px;
    border-color: transparent;
    font-size: 8px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.nextDay:hover,.previousDay:hover
{
    background-color: #053B50;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F0EBCE;
}
.calendarMenu
{
    
    background-color: #176B87;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
    
    
}
.calendarMenu:hover{
    background-color: #053B50;
    cursor: pointer;

    transition: 0.3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F0EBCE;
}
.fa-calendar
{
    margin-right: 5px;
}